{% extends "base.html" %}

{% block body %}
    <div class="container px-lg-5">
        {% if innlegg | length > 0 %}
            {% for _innlegg in innlegg %}
                <div class="card text-dark bg-light mb-4 frontpage-card mx-lg-5">
                    <div class="card-header">
                        <a href="{{ url_for('blog.show_blog', blog_prefix=_innlegg.blog_prefix) }}"
                           class="text-success px-2 py-1 mr-3 text-decoration-none">
                            {{ _innlegg.blog_navn }}</a>
                        <small><a class="text-success px-2 py-1 mr-3 text-decoration-none"
                                  href="{{ url_for('blog.vis_innlegg', blog_prefix=_innlegg.blog_prefix, innlegg_id=_innlegg.innlegg_id) }}">Vis
                            innlegg</a></small>
                        <span class="innleggdato">{{ _innlegg.innlegg_dato }}</span>
                    </div>
                    <div class="card-body">

                        <div class="tagger pb-4">
                            {% for tag in _innlegg.tagger %}
                                <a href="{{ url_for('hovedside.tag', tag_navn=tag.tagnavn) }}"
                                   class="badge border border-success text-success rounded-pill bg-white px-2 py-1 mr-3 text-decoration-none">{{ tag.tagnavn }}</a>
                            {% endfor %}
                        </div>
                        <h5 class="card-title">{{ _innlegg.innlegg_tittel }}</h5>
                        <div class="card-text">
                            {{ _innlegg.innlegg_innhold | safe }}
                        </div>
                        <div >
                            <span class="card-footer text-success text-center">Visninger: {{ _innlegg.innlegg_treff }} | Kommentarer: {{ _innlegg.kommentarer | length }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="four_o_four container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block">Ingen innlegg</span>
                        <img src="{{ url_for('static', filename='img/deadduck.png') }}" alt="deadduck" height="200"/>
                        <div class="mb-4 lead">{{ no_result_message }}</div>
                        <a class="text-decoration-none" href="{{ url_for('hovedside.index') }}">
                            Trykk her for å gå til til hovedsiden! </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}