{% extends "base.html" %}
{% block body %}
    <div class="cards">
        {% if innlegg %}
            {% for x in innlegg %}
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">{{ x.blog_navn }}<span class="innleggdato">{{ x.innlegg_dato }}</span>
                    </div>
                    <div class="card-body">
                        <div class="tagger">
                            {% for tag in x.tagger %}
                                <span class="tag"> {{ tag.tagnavn }}</span>
                            {% endfor %}
                        </div>
                        <h5 class="card-title">{{ x.innlegg_tittel }}</h5>
                        <p class="card-text">{{ x.innlegg_innhold }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}