{% extends "base.html" %}

{% block body %}

    {% if heading %}
        <h2 class="styled_heading display-3 text-center text-success py-4">  {{ heading }}  </h2>
    {% endif %}

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="card p-3 m-auto" style="width: 50%;">
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="row mb-3 g-2 justify-content-center">
                        <div class="col-sm-2">
                            {{ form.username.label(class_="col-form-label") }}
                        </div>
                        <div class="col-sm-10">
                            {{ form.username(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mb-3 g-2 justify-content-center">
                        <div class="col-sm-2">
                            {{ form.password.label(class_="col-form-label") }}
                        </div>
                        <div class="col-sm-10">
                            {{ form.password(class="form-control") }}
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-2">
                            {{ form.submit(class_="btn btn-success") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

