{% extends "base.html" %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <!-- Do something with the message -->
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.submit(class_="btn btn-primary") }}
    </form>
{% endblock %}
