{% extends "base.html" %}

{% block body %}
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="card p-3 m-auto">
                {% if innlegg_id %}
                    <h2>Rediger innlegg #{{ innlegg_id }}</h2>
                    <form method="POST"
                          action="{{ url_for('blog.rediger_innlegg', blog_prefix=blog_prefix, innlegg_id=innlegg_id) }}"
                          class="post-edit-form">
                {% else %}
                    <h2>Nytt innlegg</h2>
                    <form method="POST" action="{{ url_for('blog.nytt_innlegg', blog_prefix=blog_prefix) }}"
                          class="post-edit-form">
                {% endif %}
                {{ form.csrf_token }}

                <div class="mb-3">
                    {{ form.tittel.label(class_="form-label") }}
                    {{ form.tittel(class_="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.innhold.label(class_="form-label") }}
                    {{ form.innhold(class_="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.tagger.label(class_="form-label") }}
                    {{ form.tagger(**{"class":"form-control", "data-role": "tagsinput", "hidden":"true" }) }}
                </div>
                <div class="row justify-content-end">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="button" value="Tilbake" onclick="history.back()"
                               class="btn btn-outline-success">
                        <input type="submit" value="Lagre" class="btn btn-success">
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="mb-5">
            <h4>Tidligere brukte tagger:</h4>
            {% for tag in available_tags %}
                <span class="badge border border-success text-success rounded-pill bg-white p-2 m-2 text-decoration-none available-tag"
                      onclick="$('#tagger').tagsinput('add', '{{ tag }}');  $(this).hide();">{{ tag }}</span>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    {{ ckeditor.config(name="innhold") }}

    <script src="{{ url_for('static', filename='ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
