{% extends "base.html" %}
{% block body %}
    <div class="container mt-5">
        {#        {% with messages = get_flashed_messages() %}#}
        {#            {% if messages %}#}
        {#                {% for message in messages %}#}
        {#                    <div class="row justify-content-center">#}
        {#                        <div class="alert alert-danger alert-dismissible fade show col-sm-6" role="alert">#}
        {#                            {{ message }}#}
        {#                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            {% endif %}#}
        {#        {% endwith %}#}
        <div class="row align-items-center">
            <div class="card p-3 m-auto" style="width: 50%;">
                <form method="POST" action="{{ url_for('auth.register') }}">
                    {{ form.csrf_token }}
                    <div class="row mb-3 g-2 justify-content-center">
                        <div class="col-sm-2">
                            {{ form.username.label(class_="col-form-label") }}
                        </div>
                        <div class="col-sm-10">
                            {{ form.username(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mb-3 g-2 justify-content-center">
                        <div class="col-sm-2">
                            {{ form.password.label(class_="col-form-label") }}
                        </div>
                        <div class="col-sm-10">
                            {{ form.password(class="form-control") }}
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-2">
                            {{ form.submit(class_="btn btn-success") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

