{% extends 'base.html' %}

{% block body %}
    {% block heading %}
        <div class="styled_heading display-1 text-success">
            {{ heading }}
        </div>
    {% endblock %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="tagger pb-4 text-center">
                {% for _tag in alltags %}
                    {% set size = _tag.antallbruk | int %}
                    {% if size > 10 %}
                        <a href="{{ url_for('hovedside.tag', tag_navn=_tag.tagnavn) }}"
                           class="badge border border-success text-success rounded-pill bg-white px-2 py-1 my-3 me-2 text-decoration-none"
                           style="font-size: {{ _tag.antallbruk }}px; margin: 3px; vertical-align: middle">{{ _tag.tagnavn }}</a>
                    {% else %}
                        <a href="{{ url_for('hovedside.tag', tag_navn=_tag.tagnavn) }}"
                           class="badge border border-success text-success rounded-pill bg-white px-2 py-1 my-3 me-2 text-decoration-none"
                           style="font-size: 10px; margin: 3px; vertical-align: middle">{{ _tag.tagnavn }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}